
Sistema/App.config
Sistema/obj/Debug/Sistema.csproj.FileListAbsolute.txt
Sistema/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
.vs/Instituto/v14/.suo
Sistema/bin/Debug/Sistema.exe.config
Sistema/bin/Debug/Sistema.vshost.exe.config
Sistema/bin/Debug/Sistema.vshost.exe.config
Sistema/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Sistema/obj/Debug/Sistema.csproj.FileListAbsolute.txt
